<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Autor: Sergio del Rio las Heras</h1>
<a href="/">Inicio</a>
<a href="/quizzes">Quizzes</a><br><br>
<img src="http://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/phi.png"/>
</body>
</html>