<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <a href="/">Home</a>
  <a href="/credits">Autores</a>
    <h1>Lista de Quizzes</h1>
    <div>
      <ol>
        
        <% var i = 0 %>
        <% for (i; i < quizzes.length; i++){ %>
        <li>
          Pregunta numero <%=quizzes[i].id%>. <%=quizzes[i].question %> : <%= quizzes[i].answer %>
        </li>
        <% } %>
      </ol>
    </div>
  </body>
</html>